/** @format */

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid 3px black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: solid 3px black;
  box-sizing: border-box;
}

.cross,
.circle {
  font-size: 80px;
  font-weight: bold;
}

.cross {
  color: red;
}

.circle {
  color: blue;
}

.new-game {
  margin: 10px;
  padding: 10px;
  width: 125px;
  border: none;
  border-radius: 7.5px;
  background-color: rgb(138, 43, 226);
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.new-game:hover {
  background-color: rgb(93, 28, 154);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  /* -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53); */
  /* -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53); */
}

.player-turn,
.win-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}


