/** @format */

body {
  background-color: rgb(58, 57, 57);
  color: whitesmoke;
  text-align: center;
}

.homepage {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  background-color: none;
}

.cross-circle-homepage {
  display: flex;
  align-items: center;
}

.circle-home,
.cross-home {
  margin: 0;
  margin-left: 10px;
  font-size: 35px;
  color: rgb(58, 57, 57);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
}

.cross-home {
  background-color: red;
}

.cross-home:hover {
  background-color: rgb(171, 15, 15);
}

.circle-home {
  background-color: blue;
}
.cricle-home:hover {
  background-color: rgb(0, 43, 200);
}

.start-play {
  cursor: pointer;
  background-color: rgb(103, 34, 168);
  color: white;
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.start-play:hover {
  background-color: rgb(81, 25, 133);
}

.start-play a {
  color: white;
}

.start-play a:visited {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid 3px black;
}

.square {
  cursor: pointer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: solid 3px white;
  box-sizing: border-box;
}

.cross,
.circle {
  font-size: 80px;
  font-weight: bold;
}

.cross {
  color: red;
}

.circle {
  color: blue;
}

.myInformation {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}
.links {
  font-style: none;
  margin: 5px;
  padding: 10px;
  width: 95px;
  border: none;
  border-radius: 7.5px;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.links:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
}

button a {
  color: whitesmoke;
  text-decoration: none;
}

button a:visited {
  color: white;
}

.github-link,
.twitter-link {
  background-color: rgb(28, 27, 28);
}
.github-link:hover,
.twitter-link:hover {
  background-color: rgb(47, 46, 47);
}

.facebook-link {
  background-color: rgb(57, 97, 245);
}

.facebook-link:hover {
  background-color: rgb(50, 86, 218);
}

.linkedin-link {
  background-color: rgb(33, 76, 233);
}
.linkedin-link:hover {
  background-color: rgb(23, 52, 159);
}

.player-turn,
.win-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.user-buttons {
  display: flex;
  flex-direction: row;
}

.back-home {
  margin-right: 10px;
  cursor: pointer;
  margin-top: 15px;
  color: whitesmoke;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(103, 34, 168);
  font-weight: 900;
}

.new-game {
  margin-right: 10px;
}

.new-game,
.restart-game {
  cursor: pointer;
  margin-top: 20px;
  color: whitesmoke;
  font-weight: 700;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(103, 34, 168);
}

.new-game:hover,
.back-home:hover,
.start-play:hover,
.restart-game:hover {
  background-color: rgb(81, 25, 133);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.circle-score,
.cross-score {
  font-size: 13px;
  background-color: rgb(103, 34, 168);
  color: whitesmoke;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
}

.circle-score,
.cross-score h4 {
  text-align: center;
}

.circle-score:hover {
  cursor: pointer;
  background-color: blue;
}

.cross-score:hover {
  cursor: pointer;
  background-color: red;
}
